extends ../layouts/app.pug

block content
  if posts.length > 0
    table.table
      thead
        tr
          th(scope='col') id
          th(scope='col') Title
          th(scope='col')
          th(scope='col')
      tbody
        each post in posts
          tr
            th(scope='row')= post.id
            td
              a(href=`/posts/${post.id}`)= post.title
            td 
              a.btn.btn-primary(href=`/posts/${post.id}/edit` role='button') Edit
            td 
              form.form-inline.d-inline-block(action=`/posts/${post.id}?_method=DELETE` method='post')
                button.btn.btn-warning(type='submit') Delete
  else 
    p Empty